version: 2
jobs:
  build:
    environment:
      CONTAINER_NAME: "quay.io/redsift/ingraind"

    working_directory: /tmp/ws/build
    docker:
      - image: docker:latest
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/ws

      - setup_remote_docker:
          docker_layer_caching: true

      - run:
          name: Login to a regsitry
          command: |
            echo ${QUAY_PASS} | docker login --username ${QUAY_USER} --password-stdin quay.io

      - run:
          name: Build Docker image
          command: |
            export TAG=${CIRCLE_TAG:-unknown}
            export SHA=${CIRCLE_SHA1:0:7}
            sh docker/build.sh -t $CONTAINER_NAME:latest -t $CONTAINER_NAME:$SHA -t $CONTAINER_NAME:$TAG

            echo "Total sizes"
            docker images $CONTAINER_NAME
            docker push $CONTAINER_NAME 

workflows:
  version: 2
  build_pack:
    jobs:
      - build
